{% extends 'layout.html' %}

{% block body %}
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas orci eget molestie suscipit. Nunc posuere quam in imperdiet lobortis. Quisque tempor pulvinar nisl, ac tristique velit eleifend et. Pellentesque et venenatis eros, sollicitudin cursus massa. Maecenas lobortis ullamcorper libero, et condimentum risus ultricies et. Pellentesque libero dolor, convallis sit amet ipsum eget, placerat convallis nibh. Curabitur enim lacus, aliquam ut arcu quis, varius vestibulum libero. Pellentesque suscipit semper elit, ut pretium magna. Donec non libero non libero semper vulputate. Proin ac hendrerit elit, sit amet hendrerit libero. Nunc et vulputate odio, vel facilisis nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam eget nibh sed urna rutrum commodo. Ut at tortor a ligula interdum ullamcorper tincidunt sed enim.</p>
{% endblock %}
